{% extends 'base.html' %}

{% block title %}{{ review.title }}{% endblock %}

{% block content %}
<h1>{{ review.title }}</h1>
{% if review.poster %}
    <img src="{{ review.poster.url }}" alt="{{ review.title }} 포스터 이미지" class="poster">
{% endif %}
<p>감독: {{ review.director }}</p>
<p>주연: {{ review.main_actor }}</p>
<p>개봉년도: {{ review.release_year }}</p>
<p>장르: {{ review.genre }}</p>
<p>별점: {{ review.rating }} / 10</p>
<p>러닝타임: {{ review.running_time_hours }}시간 {{ review.running_time_minutes }}분</p>
<p>리뷰 내용:</p>
<p>{{ review.review_content }}</p>

<a href="/review/{{ review.id }}/update/">리뷰 수정하기</a>
</br>
<form action="/review/{{ review.id }}/delete/" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
    </form>
</br>
<a href="/review/">리뷰 목록으로 돌아가기</a>
{% endblock %}