* {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

:root{
    --main-color: rgb(191, 198, 191);
    --background-color: rgb(250, 250, 250);
    --button-color: rgb(232, 232, 232);
}

#title {
    margin-top: 10vh;
}

#stopwatch{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
#stopwatch_wrap{
    width: 325px;
    height: 150px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px 0;
    border-radius: 30px;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
}
.stopwatch_display{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--background-color);
    width: 85%;
    height: 45%;
    border-radius: 15px;
}
#time{
    font-size: 3em;
    font-weight: 500;
}

#buttons {
    margin-top: 5%;
    width: 70%;
    display:flex;
    justify-content: space-around;
}
.button {
    background-color: var(--button-color);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.button:hover {
    cursor: pointer;
}

#record {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;

}
#record-wrap{
    width: 365px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.record-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 6px;
    background-color: var(--main-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.record-top div{
    display: flex;
    align-items: center;
}
.record-top .deleteBtn {
    background-image: url('img/trash-bin.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border: 0px;
    margin: 0 10px;
    transition: .2s;
}
.record-top .deleteBtn:hover {
    cursor: pointer;
    filter: invert(13%) sepia(94%) saturate(6442%) hue-rotate(9deg)
}
.record-bottom{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
}
.record-btn {
    background-color: transparent;
    width: 20px;
    border: 0px;
    margin: 0 10px;
    transition: .2s;
}
.record-btn:hover {
    cursor: pointer;
}
.record-log{
    width: 100%;
    padding-top: 12px;
    display: flex;
    justify-content: flex-start;
}
.record-log p {
   margin-left: 31%;
   display: flex;
   align-items: center;
   font-size: 21px;
}
.record-check {
    background-image: url('img/checkbox.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border: 0px;
    margin: 0 10px;
}
.checked {
    background-image: url('img/check-circle.png');
}