{% extends 'main.html' %}
{% load static %}

{% block title %}{{ idea.title }}{% endblock %}

{% block content %}
  <h1 style="color: green; font-size: 40px">{{idea.title}}</h1>
  {% if idea.image.url != '' %}
    <img src="{{idea.image.url}}" alt="제품 이미지" />
  {% else %}
    <img src="{% static 'images/no_image.png' %}" alt="대체 텍스트" />
  {% endif %}
  <p>아이디어명: {{idea.title}}</p>
  <p>아이디어 설명: {{idea.content}}</p>
  <p>아이디어 관심도: {{idea.interest}}</p>
  <p>개발툴</p>

  <a href="{% url 'ideas:update' idea.pk %}">수정하기</a>
  </br>
  <form action="{% url 'ideas:delete' idea.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
{% endblock content %}
