{% extends 'main.html' %}
{% load static %}

{%block head%}
<title>아이디어 리스트</title>
{%endblock%}

{%block content%}
<h2>리스트!!</h2>
<div class="content-wrapper">
    <!-- 사용자 목록 -->
    {% for idea in ideas %}
    <div class="idea">
      
      <div id="thumbnail">
        <img src="{{ idea.image.url }}" alt="{{ idea.title }}">
      </div>
      <a href="{% url 'ideas:detail' idea.id %}" class="btn btn-outline-secondary">{{ idea.title }}</a>
      <p>예상 개발 툴:</p>
      <p>
        아이디어 관심도: 
        <button>-</button>
        {{ idea.interest}}
        <button>+</button>
      </p>

    </div>
    {% endfor %}
{%endblock%}
